.header__logo{
    position: absolute;
    width: 80px;
    height: 80px;
    padding: 8px;
    left: 47%;
    z-index: 1;
}

.header__components{
    position: absolute;
    right: 0;
    top: 0px;
    padding: 25px 50px;
    z-index: 2;
}
.components__list{
    
}
.components__item{
    display: inline;
    padding: 15px;
}
.icons__facebook, .icons__instagram, .icons__twitter{
    width: 30px;
    height: 30px;
}